* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	font-family: 'Rubik', sans-serif;
}
header{
	
}
nav ul{
	
}
nav ul li{
	
}
nav ul li a{
	
}
a{

}
.icon { }
section{

}
.principal{
}
.principal div img{
}
.secundario{
}
.secundario div{
}
.secundario div a img{
}
h4{
}
footer{
}
footer img{
}

@media (max-width: 480px) { 

}